<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    </head>

    <body>
        <ul id="add-dropdown" class="dropdown-content">
            <li><a href="/todos/add" class="indigo-text text-lighten-2">Todo</a></li>
            <li><a href="/users/add" class="indigo-text text-lighten-2">User</a></li>
        </ul>

        <ul class="sidenav" id="mobile">
            <li><a href="/todos" class="indigo-text text-lighten-2">Todos</a></li>
            <li><a href="/users" class="indigo-text text-lighten-2">Users</a></li>
            <li><a href="/todos/add" class="indigo-text text-lighten-2">Add Todo</a></li>
            <li><a href="/users/add" class="indigo-text text-lighten-2">Add User</a></li>
        </ul>

        <nav>
            <div class="nav-wrapper indigo lighten-2 navbar-fixed">
                <a href="/" class="brand-logo">API Todolist</a>
                <a href="" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/todos">Todos</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="add-dropdown">Add<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <% if(users == "add user"){ %>
                <h1><%= title %></h1>
                <form method="POST" action="/users">
                    <input type="text" name="firstname" placeholder="Firstname" /><br />
                    <input type="text" name="lastname" placeholder="Lastname" /><br />
                    <input type="text" name="username" placeholder="Username" /><br />
                    <input type="password" name="password" placeholder="Password" /><br />
                    <input type="email" name="email" placeholder="Email" /><br />
                    <button class="btn waves-effect waves-light indigo lighten-2" type="submit" name="submit" >Add</button>
                </form>
            <% }else{ %>
                <h1><%= title %></h1>
                <form method="POST" action="/users/<%= id %>?_method=patch">
                    <input type="hidden" name="userId" value=<%= id %> /><br />
                    <input type="text" name="firstname" placeholder="Firstname" /><br />
                    <input type="text" name="lastname" placeholder="Lastname" /><br />
                    <input type="text" name="username" placeholder="Username" /><br />
                    <input type="password" name="password" placeholder="Password" /><br />
                    <input type="email" name="email" placeholder="Email" /><br />
                    <button class="btn waves-effect waves-light indigo lighten-2" type="submit" name="submit" >Edit</button>
                </form> 
            <% } %>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
        </script>
    </body>
</html>