<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" type="image/png" href="/assets/img/icon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/assets/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <ul id="add-dropdown" class="dropdown-content">
            <li><a href="/todos/add" class="indigo-text text-lighten-2">Todo</a></li>
            <li><a href="/users/add" class="indigo-text text-lighten-2">User</a></li>
        </ul>

        <ul class="sidenav" id="mobile">
            <li><a href="/todos" class="indigo-text text-lighten-2">Todos</a></li>
            <li><a href="/users" class="indigo-text text-lighten-2">Users</a></li>
            <li><a href="/todos/add" class="indigo-text text-lighten-2">Add Todo</a></li>
            <li><a href="/users/add" class="indigo-text text-lighten-2">Add User</a></li>
        </ul>

        <nav>
            <div class="nav-wrapper indigo lighten-2 navbar-fixed">
                <a href="/" class="brand-logo">API Todolist</a>
                <a href="" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/todos">Todos</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="add-dropdown">Add<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <% if(todos == "add"){ %>
                <% if(locals.selectBox[0]){ %>
                    <h1><%= title %></h1>
                    <form method="POST" action="/todos">
                        <select name="userId" required>
                                <option value="" disabled selected>Choose user</option>
                                <% selectBox.forEach(function(selectBox) { %>
                                    <option value="<%= selectBox.userId %>"><%= selectBox.userId %>. <%= selectBox.firstname %> <%= selectBox.lastname %></option>
                                <% }); %>
                        </select>
                        <input type="text" name="message" placeholder="Message" required /><br />
                        <select name="completion" required>
                                <option value="" disabled selected>Completion</option>
                                <option value="Todo">Todo</option>
                                <option value="Work in progress">Work in progress</option>
                                <option value="Done">Done</option>
                        </select>
                        <button class="btn waves-effect waves-light indigo lighten-2" type="submit" name="submit" >Add</button>
                    </form>
                <% }else{ %>
                    <h2>No user found</h2>
                    <h5>You must first create a user before creating a todo</h5>
                <% } %>
            <% }else{ %>
                <h1><%= title %></h1>
                <form method="POST" action="/todos/<%= id %>?_method=patch">
                    <input type="hidden" name="todoId" value=<%= id %> /><br />
                    <select name="completion" required>
                            <option value="" disabled selected>Completion</option>
                            <option value="Todo">Todo</option>
                            <option value="Work in progress">Work in progress</option>
                            <option value="Done">Done</option>
                    </select>
                    <button class="btn waves-effect waves-light indigo lighten-2" type="submit" name="submit" >Edit</button>
                </form> 
            <% } %>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
            $('select').formSelect();
        </script>
    </body>
</html>